@charset "utf-8";

.container {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  margin-bottom: 20px;
}

.container .container-subject {
  margin-top: 10px;
  text-align: center;
}
.container .container-subject h2 {
  font-size: 30px;
  margin-right: 30px;
  margin-bottom: 10px;
}

.container .items-wrapper {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.container .items-wrapper .items:hover {
	background: #e2e3e759;
}

.container .items-wrapper .items .item-box {
	padding: 15px;
}

.container .items-wrapper .items .brand {
	font-weight: bold;
	font-size: 18px;
	padding: 5px;
}

.container .items-wrapper .items .item-name {
	font-size: 15px;
	padding: 5px;
} 

.container .items-wrapper .items .item-price {
	color: gray;
	padding: 5px;
}

.container .items img {
  width: 235px;
  height: 235px;
}
