@charset "UTF-8";

/* #myInfo-txt-box h3 {
    margin-bottom: 10px;
} */

.myPage-right-box {
	/* width: 900px; */
	margin: 20px;
    padding: 20px;
}
/* 
.myPage-right-box .flex_between {
    text-align: center;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.myPage-right-box div label {
    font-weight: bold;
}

.myPage-right-box .member-input {
    width: 401px;
    height: 30px;
    border: 1px solid lightgray;
}

.flex_between #auth {
	float: right;
	height: 32px;
	border: none;
	font-weight: bold;
}

.nikname-box {
	float: right;
}

.nikname-box .nikname-txt {
	height: 30px;
    width: 343px;
    border: 1px solid lightgray;
}

.nikname-box .nikname-btn {
	height: 32px;
	border: none;
	font-weight: bold;
}

.address-box1 #sample6_postcode {
	width: 315px;
    height: 30px;
    border: 1px solid lightgray;
}

.address-box1 .address-btn {
	height: 32px;
	border: none;
	font-weight: bold;
}

.address-box2 {
	display: flex;
	justify-content: flex-end
}

.address-box2 #sample6_address{
    width: 199px;
    height: 30px;
    border: 1px solid lightgray;
    margin-right: 10px
}

.address-box2 #sample6_detailAddress {
	width: 200px;
    height: 30px;
    border: 1px solid lightgray;
}

.phone-txt-box input {
    height: 30px;
    border: 1px solid lightgray;
}

.btn-box {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn-box input {
    width: 100px;
    height: 60px;
    margin: 10px;
    font-size: larger;
} */

.myPage-right-box form > ul {
	display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.member-info-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
}

.member-info-list label {
	width: 100px;
}

.member-info-list input {
	width: 400px;
	height: 20px;
	padding: 5px;
	border: 1px solid lightgray;
}

.mypage-btn {
	background: #000000;
    color: white;
    cursor: pointer;
}

.delete-frm {
	display: flex;
    flex-direction: column;
    align-items: center;
}
/* #delete_btn {
    border: none;
	background-color: #404040;
    color: #fff;
    border-radius: 2px;
    font-weight: bold;
}

#edit_btn {
    border: none;
    background-color: #404040;
    color: #fff;
    border-radius: 2px;
    font-weight: bold;
} */